
h1 {
  font-size: 5vw
}

h3 {
  font-size: 2vw;
}

* {
  letter-spacing: 3px;
}

/*-- Default --*/

.work {
margin-top: 5%;
}

.work li {

  font-size: 2vw;
  list-style-type: none;
}


.typed-name {
  font-size: 7vw;
}

.typed-job {
  font-size: 7vw;
}

.work h3 {
  font-size: 4vw;
}

.default {
  font-family: 'VT323', monospace;
  color: #00FF00;
  background-color: black;
}

.clock {
  right: 2vmax ;
  top: 7px;
  position: absolute;
}

.foot i {
    text-align: center;
    font-size: 15vh;
}

.price {
  margin-top: 10%;
  font-size: 5vw ;
}

.default .clock p {
  font-size: 8vmin !important;
}

.clock p {
  font-size: 3vmin !important;
}

.default h1,h2,h3,h4,h5, p {
    font-weight: 800 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  /* Set the fixed height of the footer here */
}

.margin-top {
  margin-top: 30vh;
}


.full-body {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
