

* h1, h2, h3, h4 {
}

.transition {
}
.theme-btn button {
  background-color: transparent;
}

 .theme-btn .btn-water:hover {
  color: #1B98E0;
}

.theme-btn .btn-fire:hover {
  color: #D58936;
}
 .theme-btn .btn-earth:hover {
  color: #96BE8C ;
}

/*-- Default --*/

.default {
  font-family: 'Open Sans';
  color: rgb(175, 175, 175);
  /*background-image: url(../bg/cork-wallet.png);*/
  /*background-blend-mode: color;*/
  /*background-repeat: repeat;*/
  background-color: #333333;

}

.clock {
  right: 2vmax ;
  top: 7px;
  position: absolute;
}

.price h1 {
    font-size: 20vw !important;
}

.price i {
    text-align: center;
    font-size: 15vh;
}

.default .clock p {
  font-size: 8vmin !important;
}

.clock p {
  font-size: 3vmin !important;
}

.default h1,h2,h3,h4,h5, p {
    font-weight: 800 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
}

.margin-top {
  margin-top: 20vh;
}
.center-box {
 transition: 1s ease;
}

.default h1 {
  font-size: 12vmax;
}

.default h2 {
  font-size: 6vmax;
}

.default h3 {
  font-size: 5vmax;
}

.default h4 {
  font-size: 4vmax;
}

.full-body {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}


