
h1 {
  font-size: 5vw
}

h3 {
  font-size: 2vw;
}

* {
  letter-spacing: 3px;
}

/*-- Default --*/

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 0.8s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.work {
margin-top: 5%;
}

.work li {
  font-size: 3vh;
  list-style-type: none;
}

.work h3 {
  font-size: 4vh;
}

.typed-name {
  font-size: 5.3vh;
}

.typed-job {
  font-size: 6vw;
}



.default {
  font-family: 'VT323', monospace;
  color: #00FF00;
  background-color: black;
}

.clock {
  right: 2vmax ;
  top: 7px;
  position: absolute;
  font-size: 2vh
}

.foot i {
    text-align: center;
    font-size: 15vh;
}

.price {
  margin-top: 20vh;
  font-size: 5vw ;
}

.clock p {
  font-size: 6vmin !important;
}

.default h1,h2,h3,h4,h5, p {
    font-weight: 800 !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  /* Set the fixed height of the footer here */
}

.footer label {
  display: block;
}

.margin-top {
  margin-top: 30vh;
}

.full-body {
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
